<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>图片管理</title>
    <link rel="stylesheet" href="../../../static/dist/css/common/reset.css">
    <link rel="stylesheet" href="../../../static/components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../../static/components/admintle/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../static/components/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../../static/components/admintle/css/skins/skin-red.css">
    <link rel="stylesheet" href="../../../static/dist/css/common/common.css">
    <link rel="stylesheet" href="../../../static/dist/css/text/text.css">
</head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
        </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">

            后台管理系统
        </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <span class="hidden-xs">小学英语同步练</span>
                    </a>
                </li>
            </ul>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" class="dropdown-toggle">
                            <span class="hidden-xs">退出登录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="http://cdn.yisongbld.com/manager/dist/img/user2-160x160.jpg" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>管理员</p>
                    <a href="#">13627656787</a>
                    <!-- <a href="#"><i class="fa fa-circle text-success"></i> 13627656787</a> -->
                </div>
            </div>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <!-- <li class="header">MAIN NAVIGATION</li> -->
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-book"></i> <span>教材管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="#"><i class="fa fa-circle-o"></i> 课本管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 课文管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 分类管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 其他管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-tags"></i> <span>运营管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 营销策略</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 运营管理</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-calendar-check-o"></i> <span>订单管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 订单管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <section class="content col-sm-11">
            <div class="content-title-wrapper cf">
                <span class="content-title">课文管理&nbsp;&gt;&nbsp;编辑课文&nbsp;&gt;&nbsp;图片管理</span>
            </div>
            <form action="javascript:void(0)" class="form-inline">
                <div class="content-main-wrapper cf">
                    <div>
                        <div class="content-main">
                            <a class="pink-color" href="#">&lt;&nbsp;返回</a>
                        </div>

                    </div>
                    <div class="content-operate">
                        <div class="cf">
                            <div class="cf overflowHidden">
                                <div class="text-info col-md-6">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>图片名称</th>
                                            <th>课文内顺序</th>
                                            <th>对应页码</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td >1</td>
                                            <td >P-人教PEP三上-01-01</td>
                                            <td >1</td>
                                            <td >2</td>
                                            <td>
                                                <a href="javascript:void(0)" class="">查看</a> |
                                                <a href="javascript:void(0)" class="">删除</a> |
                                                <a href="javascript:void(0)" class="">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >P-人教PEP三上-01-01</td>
                                            <td >1</td>
                                            <td >2</td>
                                            <td>
                                                <a href="javascript:void(0)" class="">查看</a> |
                                                <a href="javascript:void(0)" class="">删除</a> |
                                                <a href="javascript:void(0)" class="">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >P-人教PEP三上-01-01</td>
                                            <td >1</td>
                                            <td >2</td>
                                            <td>
                                                <a href="javascript:void(0)" class="">查看</a> |
                                                <a href="javascript:void(0)" class="">删除</a> |
                                                <a href="javascript:void(0)" class="">编辑</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >P-人教PEP三上-01-01</td>
                                            <td >1</td>
                                            <td >2</td>
                                            <td>
                                                <a href="javascript:void(0)" class="">查看</a> |
                                                <a href="javascript:void(0)" class="">删除</a> |
                                                <a href="javascript:void(0)" class="">编辑</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-detail col-md-6">
                                    <div>
                                        <a href="#" >添加单张图片</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="pink-color">批量导入图片</a>
                                    </div>
                                    <div>
                                        课文图片：
                                        <span class="description pink-color">图片规格1000*2000像素</span>
                                    </div>
                                    <div class="text-img">
                                        <div>
                                            <input type="text" class="form-control img-import" placeholder="选择图片文件存放路径">
                                            <input type="button" class="btn btn-default" value="选择">
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-pink btn-big" value="确认添加">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="text-operate fl">
                            <input type="button" class="btn btn-pink" value="保存返回">

                        </div>
                    </div>
                </div>
            </form>

        </section>
    </div>
</div>


<script src="../../../static/components/jquery/jquery.js"></script>
<script src="../../../static/components/admintle/js/adminlte.js"></script>
</body>
</html>