<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>编辑课本</title>
    <link rel="stylesheet" href="../../static/dist/css/common/reset.css">
    <link rel="stylesheet" href="../../static/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../static/components/admintle/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../static/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/components/fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/components/admintle/css/skins/skin-red.css">
    <link rel="stylesheet" href="../../static/dist/css/common/common.css">
    <link rel="stylesheet" href="../../static/dist/css/book/book.css">
    <link rel="stylesheet" href="../../static/dist/css/components/myFileinput.css">
</head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
        </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">

            后台管理系统
        </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <span class="hidden-xs">小学英语同步练</span>
                    </a>
                </li>
            </ul>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" class="dropdown-toggle">
                            <span class="hidden-xs">退出登录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="http://cdn.yisongbld.com/manager/dist/img/user2-160x160.jpg" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>管理员</p>
                    <a href="#">13627656787</a>
                    <!-- <a href="#"><i class="fa fa-circle text-success"></i> 13627656787</a> -->
                </div>
            </div>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <!-- <li class="header">MAIN NAVIGATION</li> -->
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-book"></i> <span>教材管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="#"><i class="fa fa-circle-o"></i> 课本管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 课文管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 分类管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 其他管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-tags"></i> <span>运营管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 营销策略</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 运营管理</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-fw fa-calendar-check-o"></i> <span>订单管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 订单管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <section class="content col-sm-11" >
            <div class="content-title-wrapper cf">
                <span class="content-title">课本管理&nbsp;&gt;&nbsp;编辑课本</span>
            </div>
            <form action="javascript:void(0)" class="form-inline">
                <div class="content-main-wrapper cf">
                    <div>
                        <div class="content-main">
                            <a class="pink-color" href="">&lt;&nbsp;返回</a>
                        </div>
                        <div>
                            <ul class="content-select">
                                <li>
                                    一级分类：
                                    <select class="form-control">
                                        <option value ="volvo">小学英语</option>
                                        <option value ="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </li>
                                <li>
                                    二级分类：
                                    <select class="form-control">
                                        <option value ="volvo">人民教育出版社</option>
                                        <option value ="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </li>
                                <li>
                                    三级分类：
                                    <select class="form-control">
                                        <option value ="volvo">人教版PEP</option>
                                        <option value ="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </li>
                                <li>
                                    四级分类：
                                    <select class="form-control">
                                        <option value ="volvo">三年级</option>
                                        <option value ="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </li>
                                <li>
                                    五级分类：
                                    <select class="form-control">
                                        <option value ="volvo">所有分类</option>
                                        <option value ="saab">Saab</option>
                                        <option value="opel">Opel</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-operate">
                        <ul class="book-info">
                            <li>
                                课本名称：
                                <input class="form-control book-name" type="text" placeholder="自动按照课本命名规则填写！">
                            </li>
                            <li>
                                出版年份：
                                <input type="date" class="form-control book-time">
                            </li>
                            <li>
                                总页数：&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="number" class="form-control book-pageNum">
                            </li>
                            <li>
                                消耗学分：
                                <input type="number" class="form-control book-credit">
                            </li>
                        </ul>
                        <div class="book-exp">
                            自动命名规则：三级分类 + 四级分类 + 五级分类
                        </div>
                        <div class="book-cover">
                            封面图片：<span>图片规格1000*2000像素，点击图片框上传或修改图片。</span>
                        </div>
                        <div class="book-cover col-sm-12">
                            <div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>
                            <div class="col-sm-4 text-center">
                                <div class="kv-avatar">
                                    <div class="file-loading">
                                        <input id="avatar-edit" name="avatar-edit" type="file" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="book-operate">
                            <input type="button" class="btn btn-pink" value="保存返回">

                        </div>
                    </div>
                </div>
            </form>

        </section>
    </div>
</div>


<script src="../../static/components/jquery/jquery.js"></script>
<script src="../../static/components/admintle/js/adminlte.js"></script>
<script src="../../static/components/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/components/fileinput/js/fileinput.js"></script>
<script src="../../static/components/fileinput/js/plugins/piexif.min.js"></script>
<script src="../../static/components/fileinput/themes/fa/theme.min.js"></script>
<script src="../../static/components/fileinput/js/locales/zh.js"></script>
<script src="../../static/dist/js/component/imgUpload.js"></script>
<script src="../../static/dist/js/book/book.js"></script>
</body>
</html>